<div class="page-404">
  <div class="language">
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
        lang }}</option>
      </select>
  </div>

  <img src="/assets/image/error-404.svg" alt="page error">
  <div class="description">
    <h2 class="mat-headline-2">{{ 'app.not-found.LABEL.headline' | translate }}?</h2>
    <p class="mat-subtitle-2">{{ 'app.not-found.LABEL.subtitle' | translate }}</p>
  </div>
  <button mat-flat-button color="primary" (click)="backHome()">{{ 'app.not-found.ACTIONS.button_text' | translate }}</button>
</div>
