@import "/src/assets/scss/variables/colors/colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0;
  background-color: $grey-900;
  margin-bottom: 64px;

  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    gap: 48px;

    &-item {
      a {
        text-decoration: none;
        color: $grey-200;

        &:hover {
          color: $primary-400
        }
      }
    }

    &-item:nth-child(3) {
      a {
        display: flex;
        align-items: center;
        height: 24px;

        p {
          margin: 0 8px 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 739px) {
  .navbar {
    margin-bottom: 20px;
    &-list {
      padding: 0 20px;
      &-item{
        display: none;
      }
      &-item:last-child {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .navbar-mobile{
    display: none;
  }
}
