<mat-toolbar class="navbar">
  <a routerLink="/">
    <img src="/assets/image/logo.svg" alt="logo">
  </a>
  <ul class="navbar-list">
    <li class="navbar-list-item mat-body-2"><a routerLink="movies">{{ 'share.header.labels.movies' | translate }}</a></li>
    <li class="navbar-list-item mat-body-2"><a routerLink="tv">{{ 'share.header.labels.tvShows' | translate }}</a></li>
    <li class="navbar-list-item mat-body-2">
      <a routerLink="suggest-me">
        <p>{{ 'share.header.labels.suggestMe' | translate }}</p>
        <mat-icon>arrow_right_alt</mat-icon>
      </a>
    </li>
    <li class="navbar-list-item">
      <mat-form-field appearance="fill">
        <mat-select #selectedLang [value]='translate.currentLang' (selectionChange)="changeSiteLanguage(selectedLang.value)">
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang" >
            {{ 'share.language.' + lang | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
</mat-toolbar>
