.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar-item {
  margin-right: 48px;
}

.navbar-item > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #A8AEBF;
}
