@import "/src/assets/scss/themes/theme.scss";

html, body {
  height: 100%;
  min-width: 1200px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $grey-900;
}
