@import "/src/assets/scss/variables/colors/colors";
.main {
  background: $grey-900;
  .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .main{
    padding: 0 24px;
  }
}
