.info-movie{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  .poster{
    min-width: 380px;
    border-radius: 24px;
  }
  .desc-movie{
    .title, .overview, .description{
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 739px) {
  .info-movie {
    grid-template-columns: 1fr;
    .poster {
      grid-row: 2;
    }
    .desc-movie {
      grid-row: 1;
    }
  }
}
