<div class="heading">
  <app-skeleton [shape]="'image'" [height]="'300px'"></app-skeleton>
</div>
<div class="info-movie">
  <div class="poster">
    <app-skeleton [shape]="'image'" [height]="'600px'"></app-skeleton>
  </div>
  <div class="desc-movie">
    <div class="title">
      <app-skeleton class="content" [shape]="'text'" [height]="'60px'"></app-skeleton>
    </div>
    <div class="overview">
      <app-skeleton class="content" [shape]="'text'" [height]="'250px'"></app-skeleton>
    </div>
    <div class="description">
      <app-skeleton class="content" [shape]="'text'" [height]="'30px'"></app-skeleton>
    </div>
    <div class="description">
      <app-skeleton class="content" [shape]="'text'" [height]="'30px'"></app-skeleton>
    </div>
    <div class="description">
      <app-skeleton class="content" [shape]="'text'" [height]="'30px'"></app-skeleton>
    </div>
  </div>
</div>
