.info-movie{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  .poster{
    min-width: 380px;
    border-radius: 24px;
  }
  .desc-movie{
    .title, .overview, .description{
      margin-bottom: 24px;
    }
  }
}
