<span class="mat-body-1">MaileHereko</span>
<h1 class="mat-headline-1">Movies</h1>
<div class="form-search" [queryParamGroup]="paramGroup">
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search Movies or TV Shows</mat-label>
    <input matInput placeholder="eg. Avenger" queryParamName="searchText">
  </mat-form-field>
</div>
<span class="mat-subtitle-2"> {{ movies === undefined ? 0 : movies.length }} items</span>
<div class="list" *ngIf="movies === undefined; else yes">
  <app-movie-item-skeleton *ngFor="let _ of [].constructor(4)"></app-movie-item-skeleton>
</div>
<ng-template #yes>
<div class="list">
  <app-movies-list-item
  *ngFor="let movie of movies"
  [movie]="movie"
  ></app-movies-list-item>
</div>
</ng-template>
