@import "/src/assets/scss/variables/colors/colors";

.mat-body-1{
  color: $primary-200;
}
.mat-headline-1{
  margin-bottom: 24px;
  color: $grey-50;
}

.mat-subtitle-2{
  color: $grey-400;
}

.list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}
