@import "/src/assets/scss/variables/colors/colors";

.season-item {
  background: $grey-1000;
  border-radius: 12px;
  padding: 8px;

  &__img-hover-zoom {
    overflow: hidden;

    img {
      max-width: 134px;
      transition: .5s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__name {
    padding: 0 4px 4px;
    color: $grey-50;
    max-width: 125px;

    p {
      font-size: 12px;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 739px) {
  .season-item {
    &__img-hover-zoom {
      img {
        max-width: 80px;
      }
    }
  }
}
