<span class="mat-body-1">OWT</span>
<h1 class="mat-headline-1">{{ 'shows.' + page + '.title' | translate }}</h1>
<div class="form-search">
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>{{ 'shows.' + page + '.labels.inputText' | translate }}</mat-label>
    <input matInput placeholder="{{ 'shows.' + page + '.labels.inputPlaceholder' | translate }} Avenger"
      [(ngModel)]="searchText" (ngModelChange)="this.searchTextUpdate.next($event)">
  </mat-form-field>
</div>
<span class="mat-subtitle-2"> {{ loading ? 0 : totalResults }} {{ 'shows.' + page + '.labels.itemQuantity' | translate }}</span>
<div class="list" *ngIf="loading; else showMoviesListItem">
  <app-movie-item-skeleton *ngFor="let _ of [].constructor(4)"></app-movie-item-skeleton>
</div>
<ng-template #showMoviesListItem>
  <div class="list">
    <ng-content></ng-content>
  </div>
</ng-template>
<mat-paginator [length]="totalPages" [pageIndex]="pageIndex" [pageSize]="loading ? 0 : shows.length"
  (page)="pageChangeEvent($event)">
</mat-paginator>
