$primary-200: #BEB7FB;
$primary-300: #9C92F8;
$primary-400: #7B6EF6;
$primary-500: #5A4AF4;

$grey-50: #EBEEF5;
$grey-100: #C3C8D4;
$grey-200: #A8AEBF;
$grey-300: #8E95A9;
$grey-400: #767E94;
$grey-600: #475069;
$grey-700: #323B54;
$grey-800: #20283E;
$grey-900: #121829;
$grey-1000: rgba(32, 40, 62, 0.8);

$black-10: rgba(0, 0, 0, 0.1);
$black-65: rgba(0, 0, 0, 0.65);

$warning-500: #FFAD49;

$skeleton-shadow: rgba(0, 0, 0, 0.05);
$skeleton-bg: #eee;
$skeleton-bg-1: #323B54 8%;
$skeleton-bg-2: #323b54d7;
$skeleton-bg-3: #323B54 33%;
