<mat-toolbar class="navbar">
    <a routerLink="/">
      <img src="/assets/image/logo.svg" alt="logo">
    </a>
    <ul class="navbar-list">
      <li class="navbar-list-item"><a routerLink="movies">Movies</a></li>
      <li class="navbar-list-item"><a routerLink="tv">TV Shows</a></li>
      <li class="navbar-list-item">
        <a routerLink="suggest-me">
          <p>Suggest me</p>
          <app-arrow-icon></app-arrow-icon>
        </a>
      </li>
    </ul>
  <!-- <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
