@import "/src/assets/scss/variables/colors/colors";

.heading {
  &__backdrop{
    width: 100%;
    border-radius: 40px;
    min-width: 700px;
    min-height: 700px;
  }

  &__title{
    width: 40%;
    min-width: 500px;
    margin: -80px 0 0 80px;
    padding: 40px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 24px;

    .mat-body-1 {
      margin-bottom: 8px;
      color: $primary-200;
    }

    .mat-headline-3 {
      margin-bottom: 0;
      color: $grey-50;
    }
  }
}

.movie-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px;
  gap: 80px;

  &__poster {
    width: 100%;
    border-radius: 24px;
  }

  &__movie-desc {
    .mat-headline-4 {
      color: $grey-50;
      margin-bottom: 24px;
    }

    .mat-subtitle-1 {
      color: $grey-300;
      margin-bottom: 24px;
    }

    .movie-info__rating {
      display: flex;
      width: 40px;
      align-items: center;
      color: $warning-500;
      padding: 4px 12px 4px 8px;
      gap: 4px;
      border-radius: 8px;
      background: $black-65;
      margin-bottom: 24px;
    }

    .movie-info__type,
    .movie-info__release-date,
    .movie-info__run-time,
    .movie-info__genres {
      .mat-subtitle-2 {
        color: $grey-400;
      }
      .mat-subtitle-1{
        margin-right: 8px;
        color: $grey-100;
      }
    }
  }
}

@media screen and (max-width: 739px) {
  .movie-info {
    margin-top: 40px;
    grid-template-columns: 1fr;
    padding: 10px;
    width: 100%;

    &__poster{
      grid-row: 2;
    }
    &__movie-desc{
      grid-row: 1;
    }
  }
}
@media only screen and (max-width: 1024px) and (min-width: 740px) {
  .heading{
    &__backdrop {
      border-radius: 40px;
      min-width: 100%;
    }
  }
  .movie-info {
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    gap: 40px;
  }
}
