<div *ngIf="loading; else showMovieDetails">
  <app-movie-details-skeleton></app-movie-details-skeleton>
</div>
<ng-template #showMovieDetails>
  <div class="heading">
    <img src="https://image.tmdb.org/t/p/w1280/{{ movie.backdropPath }}" alt="backdrop" class="heading__backdrop">
    <div class="heading__title">
      <div class="heading__breadcrumb mat-body-1">{{'shows.movieDetails.labels.breadCrumb' | translate }}</div>
      <p class="mat-headline-3 heading__name">{{movie.title}}</p>
    </div>
  </div>
  <div class="movie-info">
    <img src="https://image.tmdb.org/t/p/w780/{{ movie.posterPath }}" alt="poster" class="movie-info__poster">
    <div class="movie-info__movie-desc">
      <p class="mat-headline-4 movie-info__title">{{movie.title}}.</p>
      <p class="mat-subtitle-1 movie-info__overview">{{movie.overview}}</p>
      <div class="movie-info__rating">
        <img src="/assets/image/star.svg" alt="">
        {{ movie.voteAverage.toFixed(1) }}
      </div>
      <div class="movie-info__type">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.type' | translate }}</p>
        <p class="mat-subtitle-1">{{'shows.movieDetails.labels.nameType' | translate }}</p>
      </div>
      <div class="movie-info__release-date">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.releaseDate' | translate }}</p>
        <p class="mat-subtitle-1">{{ movie.releaseDate }}</p>
      </div>
      <div class="movie-info__run-time">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.runTime' | translate }}</p>
        <p class="mat-subtitle-1">{{ movie.runtime }} min</p>
      </div>
      <div class="movie-info__genres">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.genres' | translate }}</p>
        <p class="mat-subtitle-1">{{genres}}</p>
      </div>
      <div class="movie-info__select-lists">
        <form class="form-search">
          <mat-form-field appearance="fill">
            <mat-label>{{'shows.movieDetails.labels.searchList' | translate }}</mat-label>
            <input matInput [matAutocomplete]="auto" [formControl]="movieCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let list of filteredLists | async" [value]="list.name" (click)="addItem({mediaId: movie.id, listId :list.id})">
                <span>{{list.name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</ng-template>
