<div *ngIf="loading; else showMovieDetails">
  <app-movie-details-skeleton></app-movie-details-skeleton>
</div>
<ng-template #showMovieDetails>
  <div class="heading">
    <img src="https://image.tmdb.org/t/p/original/{{ movie.backdropPath }}" alt="backdrop" class="backdrop">
    <div class="title">
      <div class="breadcrumb mat-body-1">{{'shows.movieDetails.labels.breadCrumb' | translate }}</div>
      <p class="mat-headline-3">{{movie.title}}</p>
    </div>
  </div>
  <div class="info-movie">
    <div class="poster">
      <img src="https://image.tmdb.org/t/p/original/{{ movie.posterPath }}" alt="poster">
    </div>
    <div class="desc-movie">
      <p class="mat-headline-4">{{movie.title}}.</p>
      <p class="mat-subtitle-1">{{movie.overview}}</p>
      <div class="movie-item-rating">
        <img src="/assets/image/star.svg" alt="">
        {{ movie.voteAverage.toFixed(1) }}
      </div>
      <div class="type">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.type' | translate }}</p>
        <p class="mat-subtitle-1">{{'shows.movieDetails.labels.nameType' | translate }}</p>
      </div>
      <div class="release-date">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.releaseDate' | translate }}</p>
        <p class="mat-subtitle-1">{{ movie.releaseDate }}</p>
      </div>
      <div class="run-time">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.runTime' | translate }}</p>
        <p class="mat-subtitle-1">{{ movie.runtime }} min</p>
      </div>
      <div class="genres">
        <p class="mat-subtitle-2">{{'shows.movieDetails.labels.genres' | translate }}</p>
        <p class="mat-subtitle-1">{{genres}}</p>
      </div>
    </div>
  </div>
</ng-template>
