<div class="skeleton" *ngIf="movie === undefined; else yes">
  <app-movie-item-skeleton></app-movie-item-skeleton>
</div>
<ng-template #yes>
<a [routerLink]="[movie.id]" *ngIf="movie">
  <div class="movie-item">
    <div class="movie-item-rating">
      <img src="/assets/image/star.svg" alt="">
      {{ movie.voteAverage }}
    </div>
    <div class="img-hover-zoom">
      <img src="https://image.tmdb.org/t/p/w500/{{ movie.posterPath }}" alt="image-item">
    </div>
    <div class="movie-item-name">
      <p class="mat-headline-6">{{ movie.originalTitle }}</p>
    </div>
  </div>
</a>
</ng-template>

