@import "/src/assets/scss/variables/colors/colors";

a {
  text-decoration: none;
  cursor: pointer;

  .movie-item {
    background: $grey-1000;
    border-radius: 12px;
    position: relative;
    margin-top: 24px;
    padding: 8px;

    .movie-item-rating {
      position: absolute;
      color: $warning-500;
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      background: $black-65;
      backdrop-filter: blur(4px);
      top: 18px;
      left: 16px;
      z-index: 3;

      img {
        width: 14px;
        height: 14px;
        padding: 0;
        margin-right: 4px;
        margin-top: 0;
      }
    }

    .img-hover-zoom{
      overflow: hidden;
      img {
        min-height: 400px;
        width: 100%;
        transition: .5s ease;
        &:hover{
          transform: scale(1.1);
        }
      }
    }

    &-name {
      padding: 16px 16px 24px;
      color: $grey-50;
      p{
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin-bottom: 0;
      }
    }
  }
}
